.about-section {
  padding: 3rem 0;
  background: #20212a;
  border-radius: 12px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 24px rgba(0,0,0,0.5);
  width: 100%;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  justify-content: flex-end; /* Aligns content to right */
}

.about-info {
  max-width: 400px;
  /* Ensures it's on right */
  order: 2;
}

.profile-container {
  order: 1;
}
