body, .app {
  background: #181818;
  color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main > section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

#about {
  /* Remove centering for About */
  justify-content: flex-end;
}
