body, .app {
  background: #181818;
  color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main > section:not(#about) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
