.home-section {
  text-align: center;
}

.home-section h1 {
  color: #fff;
  font-size: 2.7rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

.home-section p {
  font-size: 1.2rem;
  color: #fff;
  opacity: 0.85;
}
