.home-section {
  text-align: center;
  padding: 5rem 0 3rem 0;
  background: #181818;
}

.home-section h1 {
  color: #66fcf1;
  font-size: 2.7rem;
  margin-bottom: 1rem;
}

.home-section p {
  font-size: 1.2rem;
}
