.navbar {
  background: #222226;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2vw;
  box-shadow: 0 2px 10px #000;
}

.logo {
  font-size: 1.7rem;
  color: #66fcf1;
  letter-spacing: 2px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #fff;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #66fcf1;
}
