.navbar {
  background: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2vw;
  border-bottom: 2px solid #fff;
}

.logo {
  font-size: 1.7rem;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #fff;
  transition: color 0.2s;
  font-weight: bold;
  text-decoration: none;
}

.nav-links a:hover {
  color: #000;
  background: #fff;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}
