.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 4px solid #fff;
  background: #fff;
  object-fit: cover;
  box-shadow: 0 6px 16px rgba(0,0,0,0.8);
}
